.titolo5 {
  color: black;
}

.bottonio {
    border-radius: 4px;
    
}

/*.cards{
    display:inline-block;
    height: 400px;
    width: 200px;
    border-color: black;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 10px;
}*/

.immagine{
    height: 50%;
    width: 50%;
}